* {
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #060;
    float: left;
    width: 100%;
}

h2,
h3 {
    padding: 0px 20px;
}

p:not(.footer) {
    background-color: #444;
    margin: 0 20px;
    padding: 10px;
    text-align: justify;
}

hr {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

body {
    margin: 0;
    background-color: #555;
    color: #DDD;
}

iframe {
    width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

/* visited link */

a:visited {
    color: #fff;
}

/* mouse over link */

a:hover {
    color: #090;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FFF;
}


nav li a:hover {
    background-color: #111;
    color: #FFF;
}

.active {
    background-color: #009900;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #222;
    font-size: 0.9em;
    text-align: center;
}

.footer p {
    color: white;
}

table {
    margin: 0 auto;
    margin-bottom: 15px;
    float: left;
}

thead {
    background: #333;
}

thead tr th {
    font-weight: bold;
    width: 25%;
}

thead tr th:first-child {
    font-weight: bold;
    width: 35%;
}


tbody tr {
    color: #FFF;
}

tbody tr:nth-child(odd) {
    background-color: #777;
}

tbody tr td {
    text-align: center;
    padding: 15px 10px;
}

tbody tr td {
    text-align: left;
}

.new {
    
    width: 185px;
    height: 278px;
    border-radius: 5px 5px 0 0;
}

.tab-nouveautes {
    display: flex;
    float: left;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.tab-nouveautes div:nth-child(1) .new {
    background: url("https://images-na.ssl-images-amazon.com/images/I/51d9-bzD8JL._SX301_BO1,204,203,200_.jpg") no-repeat center;

    background-size: contain;

}

.tab-nouveautes div:nth-child(2) .new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/1rF04Kk1eunZHk9OHPFwv8hllRF.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;
}

.tab-nouveautes div:nth-child(3) .new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/aUC39cFC2KO8CJ0EV0ijIJRr3PT.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;
}

.tab-nouveautes div:nth-child(4) .new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/qYvCNcMyTouoHvJu0ddStndDSeo.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;
}

.tab-nouveautes div:nth-child(5) .new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/9I9Yjjneqf2Bm6VmZdqImD7RJ3d.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;

}

.tab-nouveautes > div {
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 185px;
    text-decoration: none;
    color: #FFF;
    background-color: #333;
    border-radius: 5px;
    margin: 10px 0;
}

